@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "base/elements.postcss";
@import "base/layout.postcss";

@import "components/button.postcss";
@import "components/shape.postcss";
